<% provide(:title, "Edit list") %>
<% provide(:button_text, 'Save changes') %>
<div class="new-forms container-fluid">
	<div class="row justify-content-md-center">
  		<div class="col-md-6">
  			<h1 class="m-5 text-center">Update your list</h1>
    		<%= render 'new_form' %>
  		</div>
	</div>
</div>