<% provide(:title, "Home | Welcome to ListApp") %>

<div id="home-background">
    <div class="container-1">
      <div class="mobile">
           <h3 class="p-1">Simply click a sign up button to find out ListApp.</h3>
           <%= link_to 'Sign Up', new_user_path, class:" btn btn-dark", id:"sign-button" %> 
      </div>
      <div class="frame1">
        <div class="frame2">
        <i class="fas fa-arrow-circle-down"></i>
        <h3>Simply click a sign up button to find out ListApp.</h3>
        <%= link_to 'Sign Up', new_user_path, class:"btn btn-outline-dark btn-lg mt-3", id:"sign-button" %>     
        </div> 
      </div>
    </div> 
    <div class="container-featuers">
      <div class="feat1">
          <i class="fas fa-calendar"></i>
          <p>Set dates for your lists.</p>
      </div>
      <div class="feat2">
        <i class="fas fa-briefcase"></i> 
        <p>Create lists for work purposes.</p> 
      </div>
      <div class="feat3">
        <i class="fas fa-home"></i> 
        <p>Create your personal lists.</p> 
      </div>  
    </div> 
</div>
