<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>
<div class="new-forms container-fluid">
	<div class="row justify-content-md-center">
  		<div class="col-md-4">
  		<h1 class="m-5 text-center">Update your profile</h1>	
    	<%= render 'form' %>
 	 </div>
	</div>
</div>