<% provide(:title, 'User List') %>

<%= render 'shared/buttom_links' %>


<div class="list-all">
	<h1>All:</h1>
	<%= render'shared/current', object: @list %>	
</div>

<div class="list-home">
	<h1>Home:</h1>
	<%= render'shared/current', object: @list_home %>	
</div>

<div class="list-work">
	<h1>Work:</h1>
	<%= render'shared/current', object: @list_work %>	
</div>
