<div class="p-3 float-right dropdown">
  <button class="btn btn-warning dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    List view
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="all" href="#">All</a>
    <a class="dropdown-item" id="work"href="#">Work</a>
    <a class="dropdown-item" id="home"href="#">Home</a>
  </div>
</div>